/* SCROLL fade up from bottom */

.a-up {
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below its original position */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth animation */
}

.a-up.animate {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Return to original position */
}

/* fade in left */

.a-left {
  opacity: 0; /* Start invisible */
  transform: translateX(-20px); /* Start slightly to the left */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.a-left.animate {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Return to original position */
}

/* fade in right */

.a-right {
  opacity: 0; /* Start invisible */
  transform: translateX(20px); /* Start slightly to the right */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.a-right.animate {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Return to original position */
}

/* ROOT VARIABLES */

/* NAVBAR */
.navbar {
  background-color: #f5f4ef; /* Adjust the background color as needed */
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-brand img {
  max-height: 40px; /* Adjust logo size */
}
.nav-link {
  font-weight: 200;
  color: black !important;
}

/* about */

/* Centering everything */
.brand-message-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  background-color: #f8f8f8;
  text-align: center;
}

/* Styling the static text */
.static-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Container for the typing effect */
.typing-container {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent; /* Prevents layout shift */
}

/* Blinking cursor */
.cursor {
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  color: black;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* portfolio */
/* services */
.service-packages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

.package h4 {
  font-size: 17px;
}

.package h3 {
  font-size: 14px;
}

.add-on-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featured-section {
  margin-top: 50px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.featured h2 {
  font-size: 18px;
}

.featured h3 {
  font-size: 16px;
}

.featured h4 {
  font-size: 15px;
}

/* contact */
/* footer */
